.m-tag {
  display: inline-block;
  padding: .2em .4em;
  background: $color-gray-lighter;
  @include fs(11px);
  color: $color-gray;
  text-decoration: none;
  border-radius: 2px;

  &:hover {
    color: $color-gray;
    background: #f6f6f6;
  }
  &:active {
    color: $color-gray;
    background: #f6f6f6;
  }
  &:visited {
    color: $color-gray;
  }

  @media screen and (min-width: $screen-desktop){
    padding: .2em .5em;
    @include fs(13px);
  }
}
