@charset "utf-8";
/* ===================================================================
 style info : コンテンツエリア関係 他

fonts
 10px = 77%     11px = 85%     12px = 93%     13px = 100%
 14px = 108%    15px = 116%    16px = 123.1%  17px = 131%
 18px = 138.5%  19px = 146.5%  20px = 153.9%? 21px = 161.6%
 22px = 167%    23px = 174%    24px = 182%    25px = 189%
 26px = 197%
=================================================================== */

/*----------------------------------------------------
	共通
----------------------------------------------------*/
/* スクロールバーの有無によるズレ対策 */
html {
	overflow-y: scroll;
}

body {
	font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}

input, textarea {
	font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    border: solid 1px #CCC;
    background: #FCFCFC;
}

/* for IE6 */
* html body {
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
* html input, * html textarea {
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}


/* リンク
----------------------------------------------------*/
a {
	color: #09C;
	text-decoration: none;
}

a:link {
	color: #09C;
	text-decoration: none;
}

a:visited {
	color: #09C;
	text-decoration: none;
}

a:hover {
	color: #333;
	background-color: #FFF799;
	text-decoration: none;
}

a:active {
	color: #09C;
	text-decoration: none;
}

/* よく使いそうなCSS3
----------------------------------------------------*/
#selectors {
/* 角丸 */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

/* 角丸個別 */
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;

/* ボックスに影 */
	-webkit-box-shadow: 1px 1px 3px #999;
	-moz-box-shadow: 1px 1px 3px #999;
	box-shadow: 1px 1px 3px #999;

/* テキストに影 */
	text-shadow: 1px 1px 0px #999;
}

/* 汎用
----------------------------------------------------*/
/* clerfix */
#contents:after {
	content: "."; display: block; visibility: hidden; height: 0.1px; font-size: 0.1em; line-height: 0; clear: both;
}

.imgR {
	float: right;
	margin: 0 0 10px 10px;
}

.imgL {
	float: left;
	margin: 0 10px 10px 0;
}

.tC,
.btn {
	text-align: center;
}

.tR,
.sign {
	text-align: right;
}

.pageTop {
	clear: both;
	margin: 0;
	text-align: right;
}

/*----------------------------------------------------
	body（ページ全体）
----------------------------------------------------*/
body {
	font-size: 100%;
	font-size: 79%;
	line-height: 1.8;
}

#container {
	width: 90%;
	margin: 0 auto;
}
@media screen and (min-width : 768px){
    #container {
    	width: 800px;
    }
}


/*----------------------------------------------------
	#contents（メインとサイド）
----------------------------------------------------*/
#contents {
	/zoom: 1;
	margin-bottom: 10px;
}


/*----------------------------------------------------
	#main（メインコンテンツ）
----------------------------------------------------*/
#main {
	float: left;
	width: 100%;
}

@media screen and (min-width : 768px){
    #main {
    	width: 600px;
    }
}

#main img {
    max-width: 100%;
    height: auto;
}
@media screen and (min-width : 768px){
    #main img {
    	max-width: none;
    }
}

#main table,
#main ol,
#main ul,
#main dl,
#main blockquote,
#main pre,
#main p {
	margin-bottom: 1.2em;
}

#main section {
	margin-bottom: 40px;
}

#main section h3 {
	font-size: 153.9%;
	margin: 30px 0 0;
	padding-bottom: 10px;
}

.navLink {
	text-align: center;
}

/*----------------------------------------------------
	#side（サイドバー）
----------------------------------------------------*/
#side {
	float: right;
	width: 100%;
    padding-top: 20px;
    border-top: 1px #CCC dotted;
}

@media screen and (min-width : 768px){
    #side {
    	width: 160px;
        padding-top: none;
        border-top: none;
    }
}

/*----------------------------------------------------
	#snsButtons（ソーシャルネットワークメディア）
----------------------------------------------------*/
#snsButtons {
	clear: both;
	list-style: none;
	margin-left: 0;
	border: #EEE solid 1px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 10px 10px 6px 10px;
}

#snsButtons li {
	float: left;
	margin-right: 10px;
}

#snsButtons li.twitter {
	margin-right: 0;
}

#snsButtons li.fbShare {
	margin-top: -3px;
}
* html #snsButtons li.fbShare { margin-top: 0; } /* for IE6 */
*:first-child+html #snsButtons li.fbShare { margin-top: 0; } /* for IE7 */

#snsButtons li.hatena a {
	margin-right: 3px;
}

#snsButtons:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	font-size: 0.1em;
	line-height: 0;
}
* html #snsButtons { zoom: 1; } /* for IE6 */
*:first-child+html #snsButtons { zoom: 1; } /* for IE7 */

/*----------------------------------------------------
	デザインスタイル
----------------------------------------------------*/
h1 {
	font-weight: normal;
	font-size: 250%;
    text-align: center;
	/*font-size: 300%;*/
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	/*font-family: 'Crimson Text', arial, serif;*/
	/*font-family:"DIN Next W01 Regular";*/
}
@media screen and (min-width : 768px){
    h1 {
        text-align: left;
    }
}

h1 a:link, h1 a:visited, h1 a:active {
	color: #000;
}

h2 {
	font-size: 153.9%;
	font-weight: normal;
	border-bottom: 1px solid #000;
	margin: 15px 0 0;
	padding-bottom: 5px;
}

h2 a:link, h2 a:visited, h2 a:active {
	color: #000;
}



.meta {
	font-size: 80%;
	margin-top: 5px;
}

.entryContent {
	margin-bottom: 40px;
}

.entryContent ul,
.entryContent ol {
	margin-left: 2em;
}
.entryContent ol li {
	margin-bottom: 0.2em;
}
.feedback {
	text-align: right;
}

#comments,
#postcomment {
	margin-bottom: 40px;
}

#comments h4,
#postcomment h4 {
	font-size: 100%;
	background: #eee;
	padding: 5px;
	margin-bottom: 20px;
}

#comments ol {
	margin-left: 2em;
}

#comment {
    width: 100%;
}

#side section {
	margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px #CCC dotted;
}
@media screen and (min-width : 768px){
    #side section {
        padding-bottom: 0;
        border-bottom: none;
    }
}
#side section#about p.text {
	font-size: 85%;
}
#side h4 {
	font-size: 100%;
	font-weight: normal;
}
#side .blogparts {
	margin-bottom: 20px;
}
#side ul {
	list-style: none;
}
#side ul li {
    display: inline;
    padding: 0 1em 0 0;
}
@media screen and (min-width : 768px){
    #side ul li {
        display: block;
        padding: 0;
    }
}
#side aside#banner ul li {
	margin-bottom: 10px;
}

/* 予約変数テーブル */
table.mtYoyaku {
	font-size: 80%;
	border-top: #666 solid 1px;
	border-left: #666 solid 1px;
}
table.mtYoyaku th,
table.mtYoyaku td {
	border-right: #666 solid 1px;
	border-bottom: #666 solid 1px;
	padding: 2px;
}
table.mtYoyaku th {
	font-weight: normal;
	text-align: right;
	background: #F6F6F6;
}
table.mtYoyaku td {
	text-align: center;
}
table.mtYoyaku td.titles {
	background: #EEE;
}

/* 汎用テーブル */
table.normal {
	border-top: #666 solid 1px;
	border-left: #666 solid 1px;
}
table.normal th,
table.normal td {
	border-right: #666 solid 1px;
	border-bottom: #666 solid 1px;
	padding: 5px;
}
table.normal th {
	font-weight: bold;
	background: #EEE;
}


/*----------------------------------------------------
	ABOUT
----------------------------------------------------*/
#aboutTitle {
	margin-bottom: 10px;
}
.aboutContent {
	margin-bottom: 20px;
}
#snsList {
	list-style: none;
}
#snsList li {
	float: left;
	width: 200px;
	margin-bottom: 10px;
}
#lastfm {
	clear: both;
	padding-top: 20px;
}
#lastfm p {
	margin: 0;
	padding: 3px 8px;
	font-size: 85%;
	background: #EEE;
}
#lastfm ol {
	list-style: inside decimal;
	font-size: 85%;
}
#lastfm  li {
	padding: 5px 7px;
	border-bottom: #DDD dashed 1px;
}
