doctype html
html(lang='ja')
    head
        include _head
    body
        .l-container
            header.l-header
                p.l-header__title LITTLEPAD BLOG
            .l-content
                .l-article
                    main
                        article
                            block main
                .l-side-content
                    | side content

            footer
