.l-footer
	.l-footer__body
		.l-footer__content.l-footer__content--about
			.m-footer-content
				.m-footer-content__head
					| about
				.m-footer-content__body
					| ハンドルネーム：littlepad
					br
					| 都内で WEB 制作（デザイン, html/css, Flash, MT, WordPress etc）をしているBOØWY研究家
		.l-footer__content.l-footer__content--category
			.m-footer-content
				.l-category__head
					| category
				.l-category__body
					a(href='') html/css
					| ,
					a(href='') javascript
					| ,
					a(href='') others
					| ,
					a(href='') php
					| ,
					a(href='') seo
		.l-footer__content.l-footer__content--search-archive
			.l-footer__search
				.m-footer-content
					.m-footer-content__head
						| search
					.m-footer-content__body
			.l-footer__archive
				.m-footer-content
					.m-footer-content__head
						| archive
					.m-footer-content__body
						.l-archive
							select
								option 月を選択
								option 2017年10月 &nbsp;(2)

	p.l-footer__foot
		small
			a(href='/') &copy; LITTLEPAD BLOG
