.l-footer
    .l-footer__body
        .l-footer__about
            .l-about
                .l-about__head
                    | about
                .l-about__body
                    | ハンドルネーム：littlepad
                    br
                    | 都内で WEB 制作（デザイン, html/css, Flash, MT, WordPress etc）をしているBOØWY研究家
        .l-footer__category
            .l-category
                .l-category__head
                    | category
                .l-category__body
                    a(href='') html/css
                    | ,
                    a(href='') javascript
                    | ,
                    a(href='') others
                    | ,
                    a(href='') php
                    | ,
                    a(href='') seo
        .l-footer__search-archive
            .l-footer__search
                .l-search
                    .l-search__head
                        | search
                    .l-category__body
            .l-footer__archive
                .l-archive
                    .l-archive__head
                        | archive
                    .l-archive__body
                        select
                            option 月を選択
                            option 2017年10月 &nbsp;(2)

    p.l-footer__foot
        small
            | &copy;littlepad / Powered by 
            a(href='http://wordpress.org/' title='Powered by WordPress, state-of-the-art semantic personal publishing platform.' rel='nofollow') WordPress
