.l-footer
    p.l-footer__copyright
        small
            | &copy;littlepad / Powered by 
            a(href='http://wordpress.org/' title='Powered by WordPress, state-of-the-art semantic personal publishing platform.' rel='nofollow') WordPress
