script(async src='https://www.googletagmanager.com/gtag/js?id=UA-3473745-7')
script
	| window.dataLayer = window.dataLayer || [];
	| function gtag(){dataLayer.push(arguments);}
	| gtag('js', new Date());
	| gtag('config', 'UA-3473745-7');

meta(name='google-site-verification' content='dAoMKS2N3ggOJyHL_yN34-m5NS7QkZfe1XYQ-dnOsNY')
meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
meta(name='author' content='littlepad')
meta(name='copyright' content='Copyright (C) littlepad')
meta(name='viewport' content='width=device-width')
meta(property='fb:app_id' content='142798865768146')
meta(property='og:title' content='')
meta(property='og:type' content='article')
meta(property='og:url' content='https://littlepad.net/blog/')
meta(property='og:site_name' content='littlepad blog')
meta(property='og:image' content='https://littlepad.net/blog/wp-content/themes/littlepad-2017/images/ogimg.png')
title littlepad blog
link(rel='https://api.w.org/' href='https://littlepad.net/blog/wp-json/')
link(rel='canonical' href='https://littlepad.net/blog/')
link(rel='shortlink' href='https://littlepad.net/blog/')
link(rel='stylesheet' type='text/css' href='css/index.css')
