doctype html
html(lang='ja')
    head
        link(rel='stylesheet' type='text/css' href='/wp-content/themes/littlepad-2017/css/index.css')
    body
        .l-container
            header
                p title
            .l-content
                .l-article
                    main
                        article
                            p main content
                .l-side-content
                    | side content

            footer
